<div class="footer">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <p class="font-size-sm mb-0"><span class="d-none d-sm-inline-block">2020 - Marcos Carvalho</span></p>
    </div>
    <div class="col-auto">
      <div class="d-flex justify-content-end">
        <ul class="list-inline list-separator">
          <li class="list-inline-item">
            <a href="https://github.com/mfcar/emberOfLegends" target="_blank">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>