<PageHeader>Games</PageHeader>

<div class="card h-100">
  <div class="card-body pb-0">
    <div class="row align-items-center mb-2">
      <div class="col-9">
        <h4 class="mb-1">
          <a href="#">#digitalmarketing</a>
        </h4>
      </div>
    </div>

    <p>Our group promotes and sells products and services by leveraging online marketing tactics</p>
  </div>
  <div class="card-footer border-0 pt-0">
    <div class="list-group list-group-flush list-group-no-gutters">
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <small class="card-subtitle">Industry:</small>
          </div>

          <div class="col-auto">
            <a class="badge badge-soft-primary p-2" href="#">Marketing team</a>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <small class="card-subtitle">Industry:</small>
          </div>

          <div class="col-auto">
            <a class="badge badge-soft-primary p-2" href="#">Marketing team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>