<PageHeader>Leaderboards</PageHeader>

<div class="card overflow-hidden">
  <div class="table-responsive">
    <table class="table table-borderless table-thead-bordered table-nowrap table-text-center table-align-middle card-table">
      <thead class="thead-light">
      <tr>
        <th scope="col" style="width: 2rem;">Rank</th>
        <th scope="col" class="text-left">Name</th>
        <th scope="col">Closed issues</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><span class="text-warning" style="font-size: 1.5rem;">🥇</span></td>
        <td>20</td>
        <td>35</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>